* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
  padding: 40px;
  color: #fff;
}

.card {
  background-color: #1a1b21;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.header {
  text-align: center;
  padding-bottom: 20px;
}

.profile-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.name {
  margin-top: 15px;
}

.role {
  color: #f3bf99;
  font-size: 14px;
}

.website {
  display: block;
  color: #f5f5f5;
  font-size: 12px;
  margin: 8px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.email-btn,
.linkedin-btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.email-btn {
  background: #fff;
}

.linkedin-btn {
  background: #5093e2;
  color: #fff;
}
.main {
  padding: 20px;
}

.main h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.main p {
  font-size: 12px;
  line-height: 1.5;
  color: #dcdcdc;
  margin-bottom: 15px;
}
.footer {
  background-color: #161619;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  font-size: 18px;
}

